.dirty {
    background: rgba($colour-secondary, .15);
    border-color: $colour-secondary;
  }
  
  .dirty:focus {
    outline-color: $colour-tertiary;
  }
  
  .error {
    border-color: #ad3a34;
    border-color: #c66863;
    background: #FDD;
  }
  
  .error:focus {
    outline-color: #c66863;
  }

  .error-group {
    width: 70%;
    margin-left: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error-message {
    margin: .5rem auto;
    padding: .5rem;
    color:#ad3a34;
    font-weight: bold;
  }
