// 1920px
@include breakpoint(max-page){
.form {
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


&-group {
    display: flex;
    width: 70%;
    height: 5rem;
    margin-bottom: 1rem;
    justify-content: space-between;


    &.message {
        height: 20rem;

    }
    &.button {
        display: flex;
        justify-content: center;
        padding: 5rem;

        .btn {
            height: 4rem;
            width: 50%;
            border-radius: 1rem;
            font-size: 1.5rem;
            @include goldBackground;
            color: white;
            font-weight: bolder;
            box-shadow: 0 .5rem .5rem rgba(black, .5);
            transition: transform .2s;

            &:hover {
                cursor: pointer;
            }
            &:active {
                transform: translateY(1rem);
            }
        }
    }

}
 

&__input {
    width: 50%;
    border-radius: .5rem; 
    font-size: 2rem;
}

 
}
}

// 1024px
@include breakpoint(tab-landscape){

    .form {
        &-group {

            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.message {
                label {
                    height: 20%;
                }
                textarea {
                    height: 80%;
                }
            }

            &.button {
                height: 22%;

                .btn {
                    height: 100%;
                }
            }

        }

        &__input {
            width: 70%;
        }
    }


}


// 768px
@include breakpoint(tab-portrait){
.form {
        &-group {
            width: 100%;
        }

        &__input {
            width: 60%;
    
        }
    }
}


// 479px
@include breakpoint(mob-portrait){
.form {
    &__input {
        width: 70%;
    }
}

}

