
// 1920px
@include breakpoint(max-page){


    .modal {
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(black, .8);
        z-index: 3000;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__content {
            white-space: pre-wrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 90%;
            background-color: white;
            box-shadow: 0 2rem 4rem rgba(black, .2);
            border-radius: 1rem;
            transition: all .5s .2s;
            overflow: scroll;

        }

        &__close {
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 1rem;
            right: 2rem;
            z-index: 2;
            text-decoration: none;
            display: block;
            font-size: 5rem;
            font-weight: bolder;
            @include goldenText;
            filter: brightness(150%);
        }
    }
}



// 1024px
@include breakpoint(tab-landscape){
    .modal {

        &__close {
            top: 0rem;
            right: 1rem;
        }

        &__content {
            width: 80%;
        }
    }

}