
*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html, body {
    min-height: 100%;
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px => 1rem = 10px
}

#app { 
    @include defaultTextStyle; 
    max-width: $max-width-page; 
    margin: 0 auto; 
    height: 100%;
    width: 100%;
    overflow: auto;
    

    @include breakpoint(mob-landscape){
        font-size: 1.7rem;
    }

/*** add sticky footer at the bottom **/
    display: flex; 
    flex-direction: column;
  } 
  
  
  @-moz-document url-prefix() {
    #app {
        overflow-y: auto;
        // to cater to firefox overflow on mobile
        overflow-x: hidden;
    }
}

  header, footer {
      flex-shrink: 0;
  }
  .app__content {
      flex: 1 0 auto;
  }

  /** --- **/

  h3 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .3rem;
      @include goldBackground;
      background-clip: text;
      color: transparent;
      font-weight: bolder;
      display: inline-block;

      @include breakpoint(mob-landscape){
          font-size: 1.7rem;
      }

  }
