.footer {
    background-color: $colour-tertiary;
    height: 10%;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 2rem;

    &__copyright {
        margin-bottom: 1rem;
        margin-left: 1rem;

        a {
            @include goldenText;
        }
    } 


} 