// 1024px
@include breakpoint(tab-landscape){


.nav {
    grid-auto-columns: 30% 40% 30%;
    &__links {
        display:none;
    }

}


.hamburger {
    height: 100%;
    grid-column: 2/3;
    display: block;     
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    &__background {
        height: 5rem;
        width: 5rem;
        border-radius: 5rem; 
        position: absolute;
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        background-color: $colour-tertiary;

    }


    &__nav {
        width: 0;
        opacity: 0;
        z-index: 1500;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        display: flex;
        justify-content: center;
        align-items: center;

        .hamburger__links { 
            display: block;
            height: 50%;
            width: 50%;
            @include defaultLinkStyle;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .nav__link {
                background-image: none;
                color: $colour-secondary;
                }

            .nav__link:hover {
                background-image: none;
                color: $colour-primary;
            }  
        }
    }


    &__button {
        min-height: 50%;
        min-width: 10%;  
        height: 6rem;
        width: 6rem;
        border-radius: 6rem; 
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: 2000;

        &:hover {
            cursor: pointer;

            .hamburger__icon::before {
                top: -1rem;
            }

            .hamburger__icon::after {
                top: 1rem;
            }
        }
    }


    &__icon,
    &__icon::before,
    &__icon::after {
        width: 3rem;
        height: 2px;
        display: inline-block;
        @include goldBackground;
    }

    &__icon::before,
    &__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .8s;

    }

    &__icon {
        position: relative;
        &::before {
            top: -.8rem;
        } 

        &::after {
            top: .8rem;
        }

    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__background {
           transform: scale(80);
           z-index: 4;

 
        }

        &__checkbox:checked ~ &__nav { 
            opacity: 1;
            width: 100%;
        }

    &__checkbox:checked + &__button &__icon {
        background-image: none;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg); 
        @include goldBackground;

    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        @include goldBackground;


    }


}

}




