
// 1920px
@include breakpoint(max-page){
.nav {
    list-style: none;
    display:grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 20% 60% 20%;
    height: 100%;
    background-color: $colour-tertiary;

    &__image {
        &__left { 
            grid-column: 1/2;
            display: flex;
            justify-content: center;      
            align-items: center;

            img {
             height: auto;
             max-width: 45%;


        }
    }

        &__right {
            grid-column: 3/4;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                max-width: 45%;
            }
            }      
    }

    &__links {
        height: 100%;
        grid-column: 2/3;
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
    }

    &__link:link,
    &__link:visited {
        @include defaultLinkStyle;
    }

    &__link:hover,
    &__link:active {
        color: $colour-secondary;
    }
}

.hamburger {
    display: none;
}
}
