// 1920px
@include breakpoint(max-page){
.contact {
    padding: 5rem;
    max-width: 100%;
    // otherwise dodgy effects in chrome for the width;
    min-width: 100%;
    margin: 0 auto; 
    display: grid;
    grid-gap: 3rem;
    grid-template: 'details form form form form' 
                    'map form form form form'
                    'map form form form form';

    &__details {
        grid-area: details;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            @include goldenText;
        }

    }

    &__map {
        grid-area: map;
        z-index: 1;
        box-shadow: 0 1rem 2rem rgba(black, .5);
        min-width: 100%;
        min-height: 100%;
        height: auto;
        margin: 0 auto;
        padding: .5rem;
        @include goldBackground;
    }

    &__form {
        margin: 0 auto;  
        width: 100%;
        grid-area: form; 
    }

}

#contactmap {
    min-height: 100%; 
    width: auto;
    filter: brightness(.9);
}
}


// 1366px
@include breakpoint(standard-page){
.contact {
    padding: 3rem;
}
}
