// 1024px
@include breakpoint(tab-landscape){
.contact {
    grid-template: 'details details details details' 
                    'map map map map'
                    'form form form form'
                    'form form form form';
    grid-gap: 1rem;

    &__map {
        height: 30rem;
        max-width: 60%;
        min-width: 60%;
        margin: 2rem auto;

    }
}
}