// 568px
@include breakpoint(mob-landscape){
.contact {

  &__details {
    margin-top : 5rem;
  }

  &__map {
    max-width: 80%;
    max-height: 60%;
  }

}
}


// 479px
@include breakpoint(mob-portrait){
  .contact {
      padding: 1rem;

      &__map {
        max-width: 70%;
        min-width: 70%;
        max-height: 60%;
        min-height: 60%;
        margin: auto auto;
      }
  }  

}