
// 1920px
@include breakpoint(max-page){

.activities {

    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        margin-bottom: 5rem;
    }

    .btn {

        &,
        &:link,
        &:visited {
            position: relative;
            text-decoration: none;
            margin-top: 2rem; 
            font-weight: bolder;
            text-transform: uppercase;
            color: $colour-secondary;

        }


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            border-radius: 2rem;
            transform: scaleY(0);
            @include goldBackground;
            transition: transform 0.2s,width 0.4s,background-image 0.1s;
            z-index: -1;
            
        }

        &:hover {
            cursor: pointer;
            color: white;

           &::before {
            transform: scaleY(1);
            width: 100%;
           }
        }

    }


    &__container {

        h3 {
            margin-bottom: 2rem;
        }

        margin: 0 auto;
        width: 90%;
        margin-bottom: 5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 100%;

        &__item {
            border-radius: 2rem;
            box-shadow: 0 .5rem 2rem rgba(black, .5);
            padding: 4rem;
            animation: translate .2s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


    }

    &__section {
        margin-top: 5rem;
    }

    &__english,
    &__academic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem;
    }

    .modal__content {
        display: flex;
        flex-direction: column;
    }



}
}


// 1200px
@include breakpoint(standard-content){

    .activities {


        &__title { 
            margin-bottom: 0; 
        }

        &__container {

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            &__item {
                width: 80%;
                margin: 0 auto;
            }
        }

    }

}
