@include breakpoint(mob-landscape){

    .activities {
        &__container {

            &__item {
                width: 80%;
            }
    }
}


}

@include breakpoint(mob-portrait){

    .activities {
    &__english,
    &__academic {
        padding: 5rem;
    }
}
}


