@include breakpoint(tab-landscape){

    .activities {
        &__container {
            height: auto;

            &__item {
                width: 90%;
                padding: 2.5rem;
            }
        }

        &__english,
        &__academic {
            padding: 5rem 10rem;
            /** 
            if don't remove the justify-content
            then the modal won't scroll properly
            **/
            justify-content: initial;

        }
    }

}


@include breakpoint(tab-portrait){

    .activities {
        &__title {
            margin-top: 5rem;
        }

        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            &__item {
                width: 50%;
            }
        }
    }


}