// 568px
@include breakpoint(mob-landscape){
.music-courses {
    
    &__blurb {
        padding: 0;

        &::before {
            transform: scale(3);
        }
        &::after {
            transform: rotate(180deg) scale(3);

        }

        &::before {
            top: 95%;
        }

    }

    &__all {
        h3 {
            margin: 4rem auto;

        }
    }


}
}

// 479px
@include breakpoint(mob-portrait){
    .music-courses {

        &__blurb {    
            &::before {
                transform: scale(2);
            }
            &::after {
                transform: rotate(180deg) scale(2);
    
            }
        }

        &__buttons {
            .btn {
                padding: 0 2rem;
            }
        }

        &__all {
            h3 {
                margin: 2rem auto;
            }
        }

        &__infants {
            padding: 0 2rem 5rem 2rem;
        }
    }
}