// 1920px
@include breakpoint(max-page){

.music-courses {
    width: 95%; 
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 20rem auto;


    ul {
        padding: 0;
        text-align: left;
        width: 60%;
        margin: 0 auto;
        list-style: none;

        li {
            width: 100%;
            margin-bottom: 2rem;

            &::before {
                content: '';
                display: inline-block;
                mask: url(../assets/icons/beamed-note.svg);
                @include goldBackground;
                width: 2rem;
                height: 2rem;
                margin-right: 2rem;
            }
        }
    }

    a {
        text-decoration: none;
    } 

    &__title {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    &__buttons {
        grid-row: 2/3;
        grid-column: 1/-1;

        display: grid;
        grid-template-columns: 20% 35% 35%;
        grid-template-rows: 100%;
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;

    .btn {
        box-shadow: 0 1rem 1rem rgba(black, .5);
        height: 10rem;
        border-radius: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;


        &-instruments {
            grid-column: 1 /2;
            grid-row: 1/2;
        }

        &-all {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &-infants {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        &:hover {
            cursor: pointer;
            
        }
    }
    }

    &__blurb {
        margin: 4rem auto 0 auto;
        white-space: pre-wrap; 
        width: 50%;
        padding: 2rem;
        grid-row: 3/4;
        grid-column: 1/-1;
        position: relative;
        

        &::before,
        &::after {
            content: '';
            display: inline-block;
            mask: url(../assets/icons/beamed-note.svg);
            position: absolute;
            @include goldBackground;
            z-index: -2;
        }

        &::before {
            width: 4rem;
            height: 4rem;
            top: 80%;
            left: 105%;
            transform: scale(4);

           
        }

        &::after {
            width: 2rem;
            height: 2rem;
            top: 0;
            left: -5%;
            transform: rotate(180deg) scale(4);
        }
    }

    /** MODALS **/

    &__instruments {
        display: grid;
        grid-template: 'header header'
                        'header header'
                        'list list'
                        'list list';

        h3 {
            grid-area: header;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        ul {
        grid-area: list;
        columns: 2;
        }

    }

    &__infants {
        display: grid;
        padding: 0 5rem 5rem 5rem;

        h3 {
            margin-top: 5rem;
        }

        div {
            font-size: 1.8rem;
        }


    }

    &__all{
        display: grid;
        grid-template: 'header header'
                        'header header'
                        'list list'
                        'list list';


        h3 {
            grid-area: header;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        ul {
            columns: 2;
            grid-area: list;
            
        }
    };

}  
}
