// 1024px
@include breakpoint(tab-landscape){
.music-courses {

    grid-template-rows: 5rem 40rem auto;

    &__blurb {
        &::before {
            top: 90%;
        }
    }


    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .btn {
            width: 55%;
            height: 25%;
        }
    }

    &__instruments,
    &__all {
        ul {
            columns: 2;
            column-gap: 3rem;
        }
    }

}
}

// 768px
@include breakpoint(tab-portrait){
    .music-courses {

      &__buttons {
          .btn {
              padding: 0 7rem;
              height: 25%;
          }
      }

      &__instruments {
        ul {
            column-gap: 1.5rem;
        }
    }

    &__all {

        h3 {
            width: 60%;
            margin: 2rem auto;
        }
        ul {
            columns: 1;
        }
    }
    }
}