<template>
    <footer class="footer">
        <div class="footer__copyright">
            <p><a href="https://kingdomoftara.gitlab.io/tara-cooke" target="_blank">&copy; Tara Cooke <span id="year" v-once>{{new Date().getFullYear()}}</span></a></p>
        </div>
    </footer> 
</template>


<script>
export default {
    
}
</script>