<template>
    <header class="header" id="header">
        <div class="nav"> 
        <div class="nav__image nav__image__left">          
            <img alt="CEC logo"
             width="152"
            height="194"
            src="../../assets/cec-logo.png">
        </div> 
        <div class="nav__links">
           <router-link to="/" tag="li" exact><a class="nav__link">{{$t('header.welcome')}}</a></router-link>
           <router-link to="/activities" tag="li"><a class="nav__link">{{$t('header.activities')}}</a></router-link>
           <router-link to="/prices" tag="li"><a class="nav__link">{{$t('header.prices')}}</a></router-link>
           <router-link to="/nous" tag="li"><a class="nav__link">{{$t('header.aboutUs')}}</a></router-link>
           <router-link to="/contact" tag="li" exact><a class="nav__link">{{$t('header.contact')}}</a></router-link>
        </div>
        <div class="hamburger">
                <input id="hamburger-toggle" class="hamburger__checkbox" type="checkbox">
                <label class="hamburger__button" for="hamburger-toggle">
                    <span class="hamburger__icon"></span>
                </label>
                <div class="hamburger__background"></div> 
                <nav class="hamburger__nav">
                    <div class="hamburger__links">
                    <router-link to="/" tag="li" @click.native="collapseMenu()" exact><a class="nav__link" >{{$t('header.welcome')}}</a></router-link>
                    <router-link to="/activities" tag="li" @click.native="collapseMenu()"><a class="nav__link">{{$t('header.activities')}}</a></router-link>
                    <router-link to="/prices" tag="li" @click.native="collapseMenu()"><a class="nav__link">{{$t('header.prices')}}</a></router-link>
                    <router-link to="/nous" tag="li" @click.native="collapseMenu()"><a class="nav__link">{{$t('header.aboutUs')}}</a></router-link>
                    <router-link to="/contact" tag="li" @click.native="collapseMenu()"><a class="nav__link">{{$t('header.contact')}}</a></router-link>
                 </div>
                </nav>
        </div>
        <div class="nav__image nav__image__right">
            <img alt="CEC motto"
             src="../../assets/cec-motto.png">
        </div>
        </div>
    </header>
</template>


<script>
export default {
    computed: {
        hamburgerToggle(){
            return document.getElementById("hamburger-toggle");
        }
    },
    methods: {
        collapseMenu() {
            this.hamburgerToggle.checked = false;

        }
    }
}
</script>