
// 1920px
@include breakpoint(max-page){
.cultural {

    &__title {
        margin: 5rem 0 2rem 0;
    }

    &__blurb {
        width: 50%;
        margin: 5rem auto 10rem auto;
    }


    &__activities {
        padding: 0 20rem;
        width: 80%;
        height: 80%;
        margin: 0 auto;
        display: grid;
        grid-gap: 5rem;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);

        .image-wrapper {
            outline-offset: 1rem;
            @include goldBackground;
            box-shadow: 0 2rem 3rem rgba(black, .5);
            padding: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &-tea {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            align-items: center;
        }

        &-soiree {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
        }

        &-participate {
            grid-column: 1/-1;
            grid-row: 2/3;
            position: relative;
            display: flex;
            align-items: center;

            img {
                filter: brightness(70%);
            }

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                h3 {
                    color: white;
                    text-shadow: 0 0 1px white;
                }
            }
        }

        img {
            max-width: 100%;
            height: auto;
            background-size: contain;
        }

                    

    }
}

}


// 1366px
@include breakpoint(standard-page){
    .cultural {
        &__activities { 
            &-participate {  
                .text {
                    width: 80%;
                }
            }
        }
    }
}

// 1200px
@include breakpoint(standard-content){
    .cultural {
        &__activities {
            &-participate {
                .text {
                    padding: 1rem 0;
                    line-height: 2rem;
                }
            }
        }

}
}