// 1024px
@include breakpoint(tab-landscape){
    .cultural {

    &__activities {
            width: 60%;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            justify-content: center;
            align-items: center;
            padding: 0;

            &-tea {
                grid-column: 1/-1;
                grid-row: 1/2;

            }
    
            &-soiree {
                grid-column: 1/-1;
                grid-row: 2/3;
 
            }
    
            &-participate {
                grid-column: 1/-1;
                grid-row: 3/4;  

                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                .text {
                    position: static;
                    transform: none;
                    width: 100%;
                    padding: 5rem 0;

                    h3 {
                        color: transparent;
                        text-shadow: none;
                    }
 
                }

        }
    }
    }

}
