// 1920px
@include breakpoint(max-page){
.prices {
    h3 {
        margin: 5rem 0;
    }

    .container {
        width:70%;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__item-text {
            width: 40%;
        }

        &__item-price {
            font-weight: bolder;
        }
    }


    .tsandcs {
        width: 80%;
        margin: 5rem auto;
      
    }

} 

}







