<template>
  <div class="aboutus">
    <!-- BLURB -->
    <div class="aboutus__description aboutus__section">
      <div class="aboutus__description-blurb">
        <div class="aboutus__description__title">
          <h3>{{$t('aboutus.description_title')}}</h3>
        </div>
        <div class="section-1">{{$t('aboutus.description_text_1')}}</div>
        <div class="section-2">{{$t('aboutus.description_text_2')}}</div>
      </div>
    </div>

    <!-- HIM AND HER -->
    <div class="aboutus__himandher aboutus__section">
      <div class="aboutus__himandher__title">
        <h3>{{$t('aboutus.himandher_title')}}</h3>
      </div>
      <div class="aboutus__himandher__casey">
        <div class="aboutus__himandher__story">
          <figure class="story__figure">
            <img src="../assets/nous_casey.jpg" class="story__figure__img" />
            <figcaption class="story__figure__caption">Casey</figcaption>
          </figure>
          <div class="story__text">
            <p>{{$t('aboutus.himandher_casey_1')}}</p>
            <p>{{$t('aboutus.himandher_casey_2')}}</p>
            <p>{{$t('aboutus.himandher_casey_3')}}</p>
          </div>
        </div>
      </div>
      <div class="aboutus__himandher__cyril">
        <div class="aboutus__himandher__story">
          <figure class="story__figure">
            <img src="../assets/nous_cyril.jpg" alt class="story__figure__img" />
            <figcaption class="story__figure__caption">Cyril</figcaption>
          </figure>
          <div class="story__text">
            <p>{{$t('aboutus.himandher_cyril_1')}}</p>
            <p>{{$t('aboutus.himandher_cyril_2')}}</p>
            <p>{{$t('aboutus.himandher_cyril_3')}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- HISTORY -->
    <div class="aboutus__history aboutus__section">
      <div class="aboutus__history__title">
        <h3>{{$t('aboutus.ourhistory_title')}}</h3>
      </div>
      <div class="aboutus__history__container">
      <ul class="aboutus__history__list">
          <li class="aboutus__history__list__item">{{$t('aboutus.ourhistory_date_1')}}</li>
          <li class="aboutus__history__list__item">{{$t('aboutus.ourhistory_date_2')}}</li>
          <li class="aboutus__history__list__item">{{$t('aboutus.ourhistory_date_3')}}</li>
          <li class="aboutus__history__list__item marriage">{{$t('aboutus.ourhistory_date_4')}}</li>
          <li class="aboutus__history__list__item">{{$t('aboutus.ourhistory_date_5')}}</li>
      </ul>
      <div class="aboutus__history__backgroundimage_1">
          <img src="../assets/nous-background-1.jpg" alt="casey and cyril playing music">
      </div>
      <div class="aboutus__history__backgroundimage_2">
          <img src="../assets/nous-background-2.jpg" alt="casey and cyril playing music">
      </div>
      </div>
    </div>
  </div>
</template>