<template>
  <div class="activities">
    <h3 class="activities__title">Activités</h3>
    <div class="activities__container activities__section">
      <div class="activities__container__item">
        <h3>{{$t('activities.music_classes')}}</h3>
        <p>{{$t('activities.music_classes_blurb')}}</p>
        <router-link to="/musiccourses#header" class="btn">{{$t('shared.clickhere')}}</router-link>
      </div>
      <div class="activities__container__item">
        <h3>{{$t('activities.english_classes')}}</h3>
        <p>{{$t('activities.english_classes_blurb')}}</p>
        <a class="btn" href="#english">{{$t('shared.clickhere')}}</a>
      </div>
      <div class="activities__container__item">
        <h3>{{$t('activities.cultural_activities')}}</h3>
        <p>{{$t('activities.cultural_activities_blurb')}}</p>
        <router-link to="/culture#header" class="btn">{{$t('shared.clickhere')}}</router-link>
      </div>
      <div class="activities__container__item">
        <h3>{{$t('activities.academic_support')}}</h3>
        <p>{{$t('activities.academic_support_blurb')}}</p>
        <a class="btn" href="#academic">{{$t('shared.clickhere')}}</a>
      </div>
    </div>

    <!-- MODALS -->

    <div class="modal" id="english">
      <a class="modal__close" href="#activities__container">x</a>
      <div class="modal__content activities__english">
        <h3> {{$t('activities.modal.english.title')}}</h3>
        {{$t('activities.modal.english.content')}}
      </div>
    </div>

    <div class="modal" id="academic">
      <a class="modal__close" href="#activities__container">x</a>
      <div class="modal__content activities__academic">
        <h3>{{$t('activities.modal.academic.title')}}</h3>
        {{$t('activities.modal.academic.content')}}
      </div>
    </div>
  </div>
</template>


<script>
export default {
  /** workaround for lack of anchor support in vue router **/
  mounted() {
    const anchor = this.$router.currentRoute.hash;
    this.$nextTick(() => {
      if (anchor && document.querySelector(anchor)) {
        location.href = anchor;
      }
    });
  }
};
</script>