<template>
  <div class="contact">
    <div class="contact__details">
      <p>+33 2 48 54 32 18</p>
      <a href="mailto:cec.bue@gmail.com">cec.bue@gmail.com</a>
      <p>
        8 rue de Venoize
        <br />18300
        <br />Bué
      </p>
      <a href="https://www.facebook.com/cecvenoize">https://www.facebook.com/cecvenoize</a>
    </div>
    <div class="contact__map">
    <div id="contactmap"></div>
    </div>
    <form @submit.prevent="handleSubmit" class="form contact__form">
      <div class="form-group name">
        <label class="form__label">
          <h3>Nom:</h3>
        </label>
        <input class="form__input" v-model.trim.lazy="$v.name.$model" :class="status($v.name)" />
      </div>

      <div class="error-group" v-if="submitted && $v.name.$error">
        <div class="error-message" v-if="!$v.name.required">Le nom est obligatoire.</div>
        <div class="error-message" v-if="!$v.name.alpha">Le nom doit être alphabétique.</div>
        <div
          class="error-message"
          v-if="!$v.name.minLength"
        >Le nom doit avoir au moins {{$v.name.$params.minLength.min}} lettres.</div>
      </div>

      <div class="form-group subject">
        <label class="form__label">
          <h3>Sujet:</h3>
        </label>
        <input class="form__input" v-model.trim="$v.subject.$model" :class="status($v.subject)" />
      </div>
      <div class="error-group" v-if="submitted && $v.subject.$error">
        <div class="error-message" v-if="!$v.subject.required">Le sujet est obligatoire.</div>
        <div
          class="error-message"
          v-if="!$v.subject.alphaNum"
        >Le sujet doit être alphanumérique.</div>
        <div
          class="erro-messager"
          v-if="!$v.subject.minLength"
        >Le sujet doit avoir au moins {{$v.subject.$params.minLength.min}} lettres.</div>
      </div>

      <div class="form-group email">
        <label class="form__label">
          <h3>Email:</h3>
        </label>
        <input class="form__input" v-model.trim.lazy="$v.email.$model" :class="status($v.email)" />
      </div>
      <div class="error-group" v-if="submitted && $v.email.$error">
        <div class="error-message" v-if="!$v.email.required">L'email est obligatoire.</div>
        <div class="error-message" v-if="!$v.email.email">L'email n'est pas valide.</div>
      </div>

      <div class="form-group message">
        <label class="form__label">
          <h3>Message:</h3>
        </label>
        <textarea class="form__input" v-model.trim="$v.message.$model" :class="status($v.message)" />
      </div>
      <div class="error-group" v-if="submitted && $v.message.$error">
        <div class="error-message" v-if="!$v.message.required">Le message est obligatoire.</div>
        <div
          class="error-message"
          v-if="!$v.message.alphaNum"
        >Le message doit être alphanumérique.</div>
        <div
          class="error-message"
          v-if="!$v.message.minLength"
        >Le message doit avoir au moins {{$v.message.$params.minLength.min}} lettres.</div>
      </div>
      <div class="form-group button">
        <button class="submit btn">Envoyer</button>
      </div>
    </form>
  </div>
</template>


<script>
import {
  required,
  alpha,
  minLength,
  email,
  helpers,
} from "vuelidate/lib/validators";
const alphaNum = helpers.regex('alphaNum', /[A-Za-z0-9 .,!"'€;?\/-]*/);
export default {
  data() {
    return {
      name: "",
      email: "",
      subject: "",
      message: "",
      submitted: false
    };
  },
  validations: {
    name: {
      required,
      alpha,
      minLength: minLength(3)
    },
    subject: {
      required,
      alphaNum,
      minLength: minLength(3)
    },
    email: {
      required,
      email
    },
    message: {
      required,
      alphaNum,
      minLength: minLength(10)
    }
  },
  methods: {
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty
      };
    },
    handleSubmit(e) {
      this.submitted = true;

      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
    }
  },
  mounted() {
    var mymap = L.map("contactmap").setView([47.3155729, 2.7897805], 15);

    L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var marker = L.marker([47.3155729, 2.7897805]).addTo(mymap);
  }
};
</script>