<template>
  <div class="cultural">
      <h3 class="cultural__title"> {{$t('cultural_actions.title')}}</h3>
    <div class="cultural__blurb">
      {{$t('cultural_actions.blurb')}}
    </div>

    <div class="cultural__activities">
      <div class="cultural__activities-tea">
        <div class="image-wrapper">
          <img src="../assets/culture-tea.jpg">
          </div>
      </div>
      <div class="cultural__activities-soiree">
        <div class="image-wrapper">
          <img src="../assets/culture-soiree.jpg">
          </div>
      </div>
      <div class="cultural__activities-participate">
          <div class="text">
              <h3>
                 {{$t('cultural_actions.participate')}}
              </h3>
          </div>
          <div class="image-wrapper">
            <img/>
          <img src="../assets/culture-exterior.jpg">
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
      /** workaround for lack of anchor support in vue router **/
      mounted() {
      const anchor = this.$router.currentRoute.hash;
      this.$nextTick(() => {
        if (anchor && document.querySelector(anchor)) {
          location.href = anchor;
        }
      });
    }
};
</script>

