<template>
  <div class="homepage">
    <div class="homepage__container">
      <div class="blurb">
        <div class="blurb__text">{{$t('homepage.blurb')}}</div>
      </div>
      <div class="composition">
           <img src="../assets/aboutus.jpg"
           class="composition__image composition__image--1"
            width="311"
             height="319"/>
            <img src="../assets/activities.jpg" 
            class="composition__image composition__image--2"
            width="311" 
            height="319"/>
            
            <img src="../assets/contact.jpg" 
            class="composition__image composition__image--3"
            width="308" 
            height="319"/>
            
      </div>
      <div class="timetable">
        <h3 class="timetable__heading">Cours Collectifs 2019/2020</h3>
        <div class="timetable__events">
        <div class="timetable__event">
          <div class="header">
           <router-link to="/musiccourses#infants">Éveil Musical</router-link><br> 3 à 6 ans
          </div>
          <div class="time">Mardi <br> 18h - 18h45</div>
        </div>
        <div class="timetable__event">
          <div class="header">
            <router-link to="/musiccourses#infants">Éveil Musical</router-link><br> 3 à 6 ans
            </div>
          <div class="time">Mercredi <br> 17h - 17h45</div>
        </div>
        <div class="timetable__event">
          <div class="header">
            <router-link to="/activities#english">Petits Anglais</router-link> <br> 4 à 7 ans
            </div>
          <div class="time">Mercredi <br> 17h45 - 18h45</div>
        </div>
        <div class="timetable__event">
          <div class="header">
            <router-link to="/musiccourses#infants">Petits Musiciens</router-link> <br> 2 à 3 ans</div>
          <div class="time">Mercredi <br> 18h45 - 19h30</div>
        </div>
        <div class="timetable__event">
          <div class="header">
            <router-link to="/musiccourses#infants">Éveil Musical</router-link> <br> 3 à 6 ans</div>
          <div class="time">Jeudi <br> 17h15 - 18h</div>
        </div>
        <div class="timetable__event">
          <div class="header"><router-link to="/activities#english">Anglais</router-link> <br> pré-ados</div>
          <div class="time">Vendredi <br> 17h30 - 18h30</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
