<template>
  <div class="music-courses">
    <h3 class="music-courses__title">Cours de musique</h3>
    <div class="music-courses__section music-courses__blurb">{{$t('music_courses.blurb')}}</div>
    <div class="music-courses__section music-courses__buttons">
      <a class="btn btn-instruments" href="#instruments">
        <h3>{{$t('music_courses.instruments.instruments')}}</h3>
      </a>

      <a class="btn btn-infants" href="#infants">
        <h3>{{$t('music_courses.courses.infantcourses')}}</h3>
      </a>

      <a class="btn btn-all" href="#all">
        <h3>{{$t('music_courses.courses.allAges.forallages')}}</h3>
      </a>
    </div>

    <!-- MODALS -->

    <div id="instruments" class="modal">
      <a class="modal__close" href="#header">x</a>
      <div class="modal__content music-courses__instruments">
        <h3>{{$t('music_courses.instruments.instruments')}}</h3>
        <ul>
          <li class="instrument">{{$t('music_courses.instruments.mao')}}</li>
          <li class="instrument">{{$t('music_courses.instruments.voice')}}</li>

          <li class="instrument">{{$t('music_courses.instruments.guitar')}}</li>
          <li class="instrument">{{$t('music_courses.instruments.ukulele')}}</li>

          <li class="instrument">{{$t('music_courses.instruments.saxophone')}}</li>
          <li class="instrument">{{$t('music_courses.instruments.percussion')}}</li>

          <li class="instrument">{{$t('music_courses.instruments.double_bass')}}</li>

          <li class="instrument">{{$t('music_courses.instruments.bass_guitar')}}</li>
          <li class="instrument">{{$t('music_courses.instruments.piano_beginners')}}</li>
          <li class="instrument">{{$t('music_courses.instruments.recorder_beginners')}}</li>
        </ul>
      </div>
    </div>

    <div id="infants" class="modal">
      <a class="modal__close" href="#header">x</a>

      <div class="modal__content music-courses__infants">
        <div>
          <h3>{{$t('music_courses.modal.baby.title')}}</h3>
          <p>{{$t('music_courses.modal.baby.content')}}</p>
        </div>

        <div>
          <h3>{{$t('music_courses.modal.little.title')}}</h3>
          <p>{{$t('music_courses.modal.little.content')}}</p>
        </div>

        <div>
          <h3>{{$t('music_courses.modal.awake.title')}}</h3>
          <p>{{$t('music_courses.modal.awake.content')}}</p>
        </div>
      </div>
    </div>

    <div id="all" class="modal">
      <a class="modal__close" href="#header">x</a>
      <div class="modal__content music-courses__all">
        <h3>{{$t('music_courses.courses.allAges.forallages')}}</h3>

        <ul>
          <li class="course">{{$t('music_courses.courses.allAges.improvisation')}}</li>
          <li class="course">{{$t('music_courses.courses.allAges.training')}}</li>
          <li class="course">{{$t('music_courses.courses.allAges.discovery')}}</li>
          <li class="course">{{$t('music_courses.courses.allAges.composition')}}</li>
          <li class="course">{{$t('music_courses.courses.allAges.workshop')}}</li>
          <li class="course">{{$t('music_courses.courses.allAges.analysis')}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  /** workaround for lack of anchor support in vue router **/
  mounted() {
    const anchor = this.$router.currentRoute.hash;
    this.$nextTick(() => {
      if (anchor && document.querySelector(anchor)) {
        location.href = anchor;
      }
    });
  }
};
</script>