<template>
  <div class="prices">
    <h3>tarifs (adhésion à l'association : 20€)</h3>
    <div>
      <div class="container">
        <div class="container__item-text">
          musique, cours d’instrument individuel
          30 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">430€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          musique, cours d’instrument individuel
          45 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">550€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          musique, cours collectif (**)
          45 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">250€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          musique, formule cours collectif (**) + cours individuel
          45 minutes + 30 minutes chaque semaine
        </div>
        <div class="container__item-price">600€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          soutien scolaire, collectif (**)
          60 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">250€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          soutien scolaire, individuel
          45 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">430€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          anglais, cours individuel
          45 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">550€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          anglais, cours individuel
          60 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">730€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          anglais, cours collectif (**)
          60 minutes chaque semaine (*)
        </div>
        <div class="container__item-price">325€/an</div>
      </div>

      <div class="container">
        <div class="container__item-text">
          cours à la carte
          sans engagement
        </div>
        <div class="container__item-price">30€/heure</div>
      </div>
    </div>
    <div class="tsandcs">
        (*) : Les cours ont lieu chaque semaine, de la dernière semaine entière de septembre jusqu'à la semaine avant la fête de la musique,

hors vacances scolaires (zone B) et jours fériés. <br>

Cette année 2019/2020, cela va du 23 septembre au 14 juin, soit 30 semaines de cours.<br>

La semaine du 16 au 21 juin sera consacrée à d'éventuels rattrapages et/ou actions spéciales autour de la fête de la musique !<br>
<br>

(**) : Les cours collectifs sont ouverts à partir de 3 inscrits, et dédoublés au-delà de 6, 8 ou 10 selon les âges.<br>

​

Règlements acceptés par chèque, virement ou en espèces (possible en plusieurs fois).<br>

N'hésitez pas à nous contacter pour trouver le tarif qui vous correspond.
        </div>
  </div>
</template>

<script>
export default {};
</script>