.dirty {
  background: rgba(198, 153, 99, 0.15);
  border-color: #c69963; }

.dirty:focus {
  outline-color: #101d2c; }

.error {
  border-color: #ad3a34;
  border-color: #c66863;
  background: #FDD; }

.error:focus {
  outline-color: #c66863; }

.error-group {
  width: 70%;
  margin-left: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.error-message {
  margin: .5rem auto;
  padding: .5rem;
  color: #ad3a34;
  font-weight: bold; }

@media only screen and (max-width: 1920px) {
  .form {
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form-group {
      display: flex;
      width: 70%;
      height: 5rem;
      margin-bottom: 1rem;
      justify-content: space-between; }
      .form-group.message {
        height: 20rem; }
      .form-group.button {
        display: flex;
        justify-content: center;
        padding: 5rem; }
        .form-group.button .btn {
          height: 4rem;
          width: 50%;
          border-radius: 1rem;
          font-size: 1.5rem;
          background-image: linear-gradient(to right, #c69963, #54483A);
          color: white;
          font-weight: bolder;
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
          transition: transform .2s; }
          .form-group.button .btn:hover {
            cursor: pointer; }
          .form-group.button .btn:active {
            transform: translateY(1rem); }
    .form__input {
      width: 50%;
      border-radius: .5rem;
      font-size: 2rem; } }

@media only screen and (max-width: 1024px) {
  .form-group {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form-group.message label {
      height: 20%; }
    .form-group.message textarea {
      height: 80%; }
    .form-group.button {
      height: 22%; }
      .form-group.button .btn {
        height: 100%; }
  .form__input {
    width: 70%; } }

@media only screen and (max-width: 768px) {
  .form-group {
    width: 100%; }
  .form__input {
    width: 60%; } }

@media only screen and (max-width: 479px) {
  .form__input {
    width: 70%; } }

@media only screen and (max-width: 1920px) {
  .modal {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal:target {
      opacity: 1;
      visibility: visible; }
    .modal__content {
      white-space: pre-wrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90%;
      background-color: white;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      transition: all .5s .2s;
      overflow: scroll; }
    .modal__close {
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 1rem;
      right: 2rem;
      z-index: 2;
      text-decoration: none;
      display: block;
      font-size: 5rem;
      font-weight: bolder;
      color: transparent;
      background-image: linear-gradient(to right, #c69963, #54483A);
      background-clip: text;
      filter: brightness(150%); } }

@media only screen and (max-width: 1024px) {
  .modal__close {
    top: 0rem;
    right: 1rem; }
  .modal__content {
    width: 80%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #101d2c;
  font-size: 2rem;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: auto;
  /*** add sticky footer at the bottom **/
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 568px) {
    #app {
      font-size: 1.7rem; } }

@-moz-document url-prefix() {
  #app {
    overflow-y: auto;
    overflow-x: hidden; } }

header, footer {
  flex-shrink: 0; }

.app__content {
  flex: 1 0 auto; }

/** --- **/
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-image: linear-gradient(to right, #c69963, #54483A);
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  display: inline-block; }
  @media only screen and (max-width: 568px) {
    h3 {
      font-size: 1.7rem; } }

@media only screen and (max-width: 1920px) {
  .nav {
    list-style: none;
    display: grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 20% 60% 20%;
    height: 100%;
    background-color: #101d2c; }
    .nav__image__left {
      grid-column: 1/2;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav__image__left img {
        height: auto;
        max-width: 45%; }
    .nav__image__right {
      grid-column: 3/4;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav__image__right img {
        height: auto;
        max-width: 45%; }
    .nav__links {
      height: 100%;
      grid-column: 2/3;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem;
      color: transparent;
      background-image: linear-gradient(to right, #c69963, #54483A);
      background-clip: text; }
    .nav__link:hover, .nav__link:active {
      color: #c69963; }
  .hamburger {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .nav {
    grid-auto-columns: 30% 40% 30%; }
    .nav__links {
      display: none; }
  .hamburger {
    height: 100%;
    grid-column: 2/3;
    display: block;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
    .hamburger__background {
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
      position: absolute;
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      background-color: #101d2c; }
    .hamburger__nav {
      width: 0;
      opacity: 0;
      z-index: 1500;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: flex;
      justify-content: center;
      align-items: center; }
      .hamburger__nav .hamburger__links {
        display: block;
        height: 50%;
        width: 50%;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem;
        color: transparent;
        background-image: linear-gradient(to right, #c69963, #54483A);
        background-clip: text;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .hamburger__nav .hamburger__links .nav__link {
          background-image: none;
          color: #c69963; }
        .hamburger__nav .hamburger__links .nav__link:hover {
          background-image: none;
          color: #54483A; }
    .hamburger__button {
      min-height: 50%;
      min-width: 10%;
      height: 6rem;
      width: 6rem;
      border-radius: 6rem;
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      z-index: 2000; }
      .hamburger__button:hover {
        cursor: pointer; }
        .hamburger__button:hover .hamburger__icon::before {
          top: -1rem; }
        .hamburger__button:hover .hamburger__icon::after {
          top: 1rem; }
    .hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
      width: 3rem;
      height: 2px;
      display: inline-block;
      background-image: linear-gradient(to right, #c69963, #54483A); }
    .hamburger__icon::before, .hamburger__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .8s; }
    .hamburger__icon {
      position: relative; }
      .hamburger__icon::before {
        top: -.8rem; }
      .hamburger__icon::after {
        top: .8rem; }
    .hamburger__checkbox {
      display: none; }
    .hamburger__checkbox:checked ~ .hamburger__background {
      transform: scale(80);
      z-index: 4; }
    .hamburger__checkbox:checked ~ .hamburger__nav {
      opacity: 1;
      width: 100%; }
    .hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
      background-image: none; }
    .hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
      top: 0;
      transform: rotate(135deg);
      background-image: linear-gradient(to right, #c69963, #54483A); }
    .hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
      top: 0;
      transform: rotate(-135deg);
      background-image: linear-gradient(to right, #c69963, #54483A); } }

.footer {
  background-color: #101d2c;
  height: 10%;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 2rem; }
  .footer__copyright {
    margin-bottom: 1rem;
    margin-left: 1rem; }
    .footer__copyright a {
      color: transparent;
      background-image: linear-gradient(to right, #c69963, #54483A);
      background-clip: text; }

@media only screen and (max-width: 1920px) {
  .homepage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage__container {
      height: 100%;
      display: grid;
      grid-template-rows: 20rem 30rem auto;
      grid-template-columns: 100%; }
      .homepage__container .blurb {
        grid-column: 1/-1;
        grid-row: 1/2;
        height: 100%;
        width: 50%;
        padding: 5rem;
        margin: 0 auto;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .homepage__container .composition {
        grid-column: 1/-1;
        margin-top: 5rem;
        grid-row: 2/3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .homepage__container .composition__image {
          border-radius: 50%;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          width: auto;
          max-height: 70%;
          background-size: contain; }
          .homepage__container .composition__image--1 {
            order: 2;
            z-index: 1;
            filter: brightness(0.95); }
          .homepage__container .composition__image--2 {
            order: 1;
            transform: translateX(20%);
            filter: brightness(1.05); }
          .homepage__container .composition__image--3 {
            order: 3;
            transform: translateX(-20%);
            filter: brightness(1.1); }
      .homepage__container .timetable {
        margin: 15rem 0;
        grid-column: 1/ -1;
        grid-row: 3/4;
        display: flex;
        align-items: center; }
        .homepage__container .timetable__heading {
          width: 15%; }
        .homepage__container .timetable__events {
          display: flex;
          width: 85%;
          justify-content: space-evenly; }
        .homepage__container .timetable__event {
          width: 15%;
          min-height: 100%;
          padding: .5rem;
          line-height: 3rem;
          border-radius: 1rem;
          box-shadow: 0 0.5rem 0.5rem rgba(16, 29, 44, 0.1);
          color: #101d2c;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .homepage__container .timetable__event .header > a {
            text-decoration: none;
            font-weight: bolder;
            color: transparent;
            background-image: linear-gradient(to right, #c69963, #54483A);
            background-clip: text; }
            .homepage__container .timetable__event .header > a:link, .homepage__container .timetable__event .header > a:visited {
              color: transparent;
              background-image: linear-gradient(to right, #c69963, #54483A);
              background-clip: text;
              text-decoration: none; }
            .homepage__container .timetable__event .header > a:hover {
              cursor: pointer;
              color: #c69963; } }

@media only screen and (max-width: 1366px) {
  .homepage__container .composition__image {
    width: auto;
    max-height: 60%; }
  .homepage__container .timetable__heading {
    width: 20%;
    margin: 0 auto; }
  .homepage__container .timetable__events {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .homepage__container .timetable__event {
    width: 80%;
    margin: 0 auto; } }

@media only screen and (max-width: 1200px) {
  .homepage__container .timetable__event {
    width: 90%; } }

@-moz-document url-prefix() {
  @media only screen and (max-width: 1024px) {
    .homepage__container .blurb__text {
      padding: 0 8rem; } } }

@media only screen and (max-width: 1024px) {
  .homepage__container .timetable {
    margin-top: 7rem;
    flex-direction: column;
    justify-content: space-evenly; }
    .homepage__container .timetable__heading {
      margin-bottom: 5rem; }
    .homepage__container .timetable__events {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr); } }

@media only screen and (max-width: 768px) {
  .homepage__container .composition__image {
    width: auto;
    max-height: 50%; }
  .homepage__container .timetable {
    margin-top: 5rem; }
    .homepage__container .timetable__events {
      width: 80%; } }

@media only screen and (max-width: 568px) {
  .homepage__container {
    height: 90%; }
    .homepage__container .timetable__heading {
      width: 60%; }
    .homepage__container .timetable__events {
      width: 50%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 2rem; } }

@media only screen and (max-width: 479px) {
  .homepage__container .blurb {
    padding: 0; }
  .homepage__container .composition__image {
    width: auto;
    max-height: 40%; }
  .homepage__container .timetable__events {
    width: 70%; } }

@media only screen and (max-width: 1920px) {
  .aboutus {
    margin: 5rem auto 5rem auto; }
    .aboutus h3 {
      margin-bottom: 5rem; }
    .aboutus__section {
      padding: 5rem 0; }
    .aboutus__description {
      width: 60%;
      margin: 0 auto;
      padding-top: 0; }
      .aboutus__description-blurb {
        font-size: 1.6rem; }
        .aboutus__description-blurb .section-1 {
          margin-bottom: 2rem; }
    .aboutus__himandher__casey, .aboutus__himandher__cyril {
      background-image: linear-gradient(to right, #c69963, #54483A);
      width: 60.5vw;
      height: 60.5vh;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
      margin: 0 auto;
      padding: 0;
      position: relative; }
    .aboutus__himandher__casey {
      margin-bottom: 5rem; }
    .aboutus__himandher__story {
      background-color: white;
      width: 60vw;
      height: 60vh;
      margin: 0 auto 5rem auto;
      padding: 6rem;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
      position: absolute;
      top: .25vh;
      left: .25vw; }
      .aboutus__himandher__story:hover .story__figure__caption {
        transform: translate(-50%, -50%);
        opacity: 1; }
      .aboutus__himandher__story .story__figure {
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem);
        position: relative;
        overflow: hidden;
        width: 15rem;
        height: 15rem;
        float: left;
        border-radius: 50%; }
        .aboutus__himandher__story .story__figure__img {
          height: 100%;
          width: auto;
          float: left;
          filter: brightness(110%); }
        .aboutus__himandher__story .story__figure__caption {
          opacity: 0;
          position: absolute;
          font-weight: bolder;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 20%);
          transition: all .2s;
          text-transform: uppercase;
          color: white; }
      .aboutus__himandher__story .story__text p {
        font-size: 1.6rem;
        margin: 2rem auto; }
    .aboutus__history {
      width: 55%;
      margin: 0 auto; }
      .aboutus__history__container {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 2fr) repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr); }
      .aboutus__history__list {
        z-index: 3;
        grid-column: 1 / span 3;
        grid-row: 1 / -1;
        width: 50%;
        float: left;
        height: auto;
        text-align: left;
        list-style-position: outside;
        font-size: 1.6rem; }
        .aboutus__history__list__item {
          margin-bottom: 2rem;
          width: 100%;
          list-style: none; }
          .aboutus__history__list__item::before {
            content: '';
            display: inline-block;
            mask: url(../assets/icons/beamed-note.svg);
            width: 2rem;
            height: 2rem;
            margin-right: 2rem;
            background-image: linear-gradient(to right, #c69963, #54483A); }
          .aboutus__history__list__item.marriage::before {
            mask: url(../assets/icons/heart.svg); }
        .aboutus__history__list__item:last-child {
          margin-bottom: 0; }
      .aboutus__history__backgroundimage_1 {
        grid-column: 4 / -1;
        grid-row: 1 / span 3; }
        .aboutus__history__backgroundimage_1 img {
          min-width: 100%;
          height: auto;
          background-size: contain;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .aboutus__history__backgroundimage_2 {
        z-index: 2;
        grid-column: 3 / 5;
        grid-row: 2/ -1; }
        .aboutus__history__backgroundimage_2 img {
          min-width: 100%;
          height: auto;
          background-size: contain;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); } }

@media only screen and (max-width: 1366px) {
  .aboutus__himandher__casey, .aboutus__himandher__cyril {
    height: 55.5rem;
    width: 80.5rem; }
  .aboutus__himandher__story {
    height: 55rem;
    width: 80rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); } }

@media only screen and (max-width: 1200px) {
  .aboutus__himandher__story .story__text p {
    margin: 1rem auto; } }

@media only screen and (max-width: 1024px) {
  .aboutus__himandher__cyril, .aboutus__himandher__casey {
    height: 55.5rem;
    width: 57.5rem; }
  .aboutus__himandher__story {
    height: 55rem;
    width: 57rem;
    padding: 5rem; } }

@media only screen and (max-width: 768px) {
  .aboutus__himandher__cyril, .aboutus__himandher__casey {
    height: 40.5rem;
    clip-path: none; }
  .aboutus__himandher__story {
    padding: 5rem;
    height: 40rem;
    padding: 4rem;
    clip-path: none; }
  .aboutus__history {
    width: 100%; }
    .aboutus__history__container {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto repeat(3, 10rem); }
    .aboutus__history__list {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      columns: 2;
      width: 50%;
      margin: 0 auto; }
    .aboutus__history__backgroundimage_1 {
      grid-column: 2/ -1;
      grid-row: 2 / span 2; }
      .aboutus__history__backgroundimage_1 img {
        min-width: 50%;
        height: auto; }
    .aboutus__history__backgroundimage_2 {
      grid-column: 2/3;
      grid-row: 3 / span 2; }
      .aboutus__history__backgroundimage_2 img {
        min-width: 70%;
        height: auto; } }

@media only screen and (max-width: 568px) {
  .aboutus__himandher__cyril, .aboutus__himandher__casey {
    height: 50.5rem;
    width: 50.5rem; }
  .aboutus__himandher__story {
    height: 50rem;
    width: 50rem;
    padding: 4rem; }
  .aboutus__history__list {
    width: 80%; } }

@media only screen and (max-width: 479px) {
  .aboutus__himandher__cyril, .aboutus__himandher__casey {
    width: 29rem;
    height: 77.5rem;
    margin: 0 auto; }
  .aboutus__himandher__casey {
    margin-bottom: 5rem; }
  .aboutus__himandher__story {
    width: 28.5rem;
    height: 77rem;
    padding: 4rem; }
    .aboutus__himandher__story .story__figure {
      shape-outside: none;
      transform: none;
      float: none;
      margin: 0 auto; }
      .aboutus__himandher__story .story__figure img {
        margin: 0 auto; }
  .aboutus__history__backgroundimage_1 img {
    max-width: 25rem; }
  .aboutus__history__backgroundimage_2 img {
    max-width: 25rem; } }

@media only screen and (max-width: 1920px) {
  .activities {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .activities__title {
      margin-bottom: 5rem; }
    .activities .btn, .activities .btn:link, .activities .btn:visited {
      position: relative;
      text-decoration: none;
      margin-top: 2rem;
      font-weight: bolder;
      text-transform: uppercase;
      color: #c69963; }
    .activities .btn::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      border-radius: 2rem;
      transform: scaleY(0);
      background-image: linear-gradient(to right, #c69963, #54483A);
      transition: transform 0.2s,width 0.4s,background-image 0.1s;
      z-index: -1; }
    .activities .btn:hover {
      cursor: pointer;
      color: white; }
      .activities .btn:hover::before {
        transform: scaleY(1);
        width: 100%; }
    .activities__container {
      margin: 0 auto;
      width: 90%;
      margin-bottom: 5rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: 100%; }
      .activities__container h3 {
        margin-bottom: 2rem; }
      .activities__container__item {
        border-radius: 2rem;
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
        padding: 4rem;
        animation: translate .2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
    .activities__section {
      margin-top: 5rem; }
    .activities__english, .activities__academic {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10rem; }
    .activities .modal__content {
      display: flex;
      flex-direction: column; } }

@media only screen and (max-width: 1200px) {
  .activities__title {
    margin-bottom: 0; }
  .activities__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .activities__container__item {
      width: 80%;
      margin: 0 auto; } }

@media only screen and (max-width: 1024px) {
  .activities__container {
    height: auto; }
    .activities__container__item {
      width: 90%;
      padding: 2.5rem; }
  .activities__english, .activities__academic {
    padding: 5rem 10rem;
    /** 
            if don't remove the justify-content
            then the modal won't scroll properly
            **/
    justify-content: initial; } }

@media only screen and (max-width: 768px) {
  .activities__title {
    margin-top: 5rem; }
  .activities__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .activities__container__item {
      width: 50%; } }

@media only screen and (max-width: 568px) {
  .activities__container__item {
    width: 80%; } }

@media only screen and (max-width: 479px) {
  .activities__english, .activities__academic {
    padding: 5rem; } }

@media only screen and (max-width: 1920px) {
  .contact {
    padding: 5rem;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 3rem;
    grid-template: 'details form form form form'  'map form form form form' 'map form form form form'; }
    .contact__details {
      grid-area: details;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact__details a {
        color: transparent;
        background-image: linear-gradient(to right, #c69963, #54483A);
        background-clip: text; }
    .contact__map {
      grid-area: map;
      z-index: 1;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
      min-width: 100%;
      min-height: 100%;
      height: auto;
      margin: 0 auto;
      padding: .5rem;
      background-image: linear-gradient(to right, #c69963, #54483A); }
    .contact__form {
      margin: 0 auto;
      width: 100%;
      grid-area: form; }
  #contactmap {
    min-height: 100%;
    width: auto;
    filter: brightness(0.9); } }

@media only screen and (max-width: 1366px) {
  .contact {
    padding: 3rem; } }

@media only screen and (max-width: 1024px) {
  .contact {
    grid-template: 'details details details details'  'map map map map' 'form form form form' 'form form form form';
    grid-gap: 1rem; }
    .contact__map {
      height: 30rem;
      max-width: 60%;
      min-width: 60%;
      margin: 2rem auto; } }

@media only screen and (max-width: 568px) {
  .contact__details {
    margin-top: 5rem; }
  .contact__map {
    max-width: 80%;
    max-height: 60%; } }

@media only screen and (max-width: 479px) {
  .contact {
    padding: 1rem; }
    .contact__map {
      max-width: 70%;
      min-width: 70%;
      max-height: 60%;
      min-height: 60%;
      margin: auto auto; } }

@media only screen and (max-width: 1920px) {
  .cultural__title {
    margin: 5rem 0 2rem 0; }
  .cultural__blurb {
    width: 50%;
    margin: 5rem auto 10rem auto; }
  .cultural__activities {
    padding: 0 20rem;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto); }
    .cultural__activities .image-wrapper {
      outline-offset: 1rem;
      background-image: linear-gradient(to right, #c69963, #54483A);
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
      padding: .5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .cultural__activities-tea {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      align-items: center; }
    .cultural__activities-soiree {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: center; }
    .cultural__activities-participate {
      grid-column: 1/-1;
      grid-row: 2/3;
      position: relative;
      display: flex;
      align-items: center; }
      .cultural__activities-participate img {
        filter: brightness(70%); }
      .cultural__activities-participate .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; }
        .cultural__activities-participate .text h3 {
          color: white;
          text-shadow: 0 0 1px white; }
    .cultural__activities img {
      max-width: 100%;
      height: auto;
      background-size: contain; } }

@media only screen and (max-width: 1366px) {
  .cultural__activities-participate .text {
    width: 80%; } }

@media only screen and (max-width: 1200px) {
  .cultural__activities-participate .text {
    padding: 1rem 0;
    line-height: 2rem; } }

@media only screen and (max-width: 1024px) {
  .cultural__activities {
    width: 60%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    padding: 0; }
    .cultural__activities-tea {
      grid-column: 1/-1;
      grid-row: 1/2; }
    .cultural__activities-soiree {
      grid-column: 1/-1;
      grid-row: 2/3; }
    .cultural__activities-participate {
      grid-column: 1/-1;
      grid-row: 3/4;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
      .cultural__activities-participate .text {
        position: static;
        transform: none;
        width: 100%;
        padding: 5rem 0; }
        .cultural__activities-participate .text h3 {
          color: transparent;
          text-shadow: none; } }

@media only screen and (max-width: 1920px) {
  .music-courses {
    width: 95%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 20rem auto;
    /** MODALS **/ }
    .music-courses ul {
      padding: 0;
      text-align: left;
      width: 60%;
      margin: 0 auto;
      list-style: none; }
      .music-courses ul li {
        width: 100%;
        margin-bottom: 2rem; }
        .music-courses ul li::before {
          content: '';
          display: inline-block;
          mask: url(../assets/icons/beamed-note.svg);
          background-image: linear-gradient(to right, #c69963, #54483A);
          width: 2rem;
          height: 2rem;
          margin-right: 2rem; }
    .music-courses a {
      text-decoration: none; }
    .music-courses__title {
      grid-column: 1/-1;
      grid-row: 1/2; }
    .music-courses__buttons {
      grid-row: 2/3;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 20% 35% 35%;
      grid-template-rows: 100%;
      grid-gap: 2rem;
      align-items: center;
      justify-content: center; }
      .music-courses__buttons .btn {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
        height: 10rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .music-courses__buttons .btn-instruments {
          grid-column: 1 /2;
          grid-row: 1/2; }
        .music-courses__buttons .btn-all {
          grid-column: 2/3;
          grid-row: 1/2; }
        .music-courses__buttons .btn-infants {
          grid-column: 3/4;
          grid-row: 1/2; }
        .music-courses__buttons .btn:hover {
          cursor: pointer; }
    .music-courses__blurb {
      margin: 4rem auto 0 auto;
      white-space: pre-wrap;
      width: 50%;
      padding: 2rem;
      grid-row: 3/4;
      grid-column: 1/-1;
      position: relative; }
      .music-courses__blurb::before, .music-courses__blurb::after {
        content: '';
        display: inline-block;
        mask: url(../assets/icons/beamed-note.svg);
        position: absolute;
        background-image: linear-gradient(to right, #c69963, #54483A);
        z-index: -2; }
      .music-courses__blurb::before {
        width: 4rem;
        height: 4rem;
        top: 80%;
        left: 105%;
        transform: scale(4); }
      .music-courses__blurb::after {
        width: 2rem;
        height: 2rem;
        top: 0;
        left: -5%;
        transform: rotate(180deg) scale(4); }
    .music-courses__instruments {
      display: grid;
      grid-template: 'header header' 'header header' 'list list' 'list list'; }
      .music-courses__instruments h3 {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center; }
      .music-courses__instruments ul {
        grid-area: list;
        columns: 2; }
    .music-courses__infants {
      display: grid;
      padding: 0 5rem 5rem 5rem; }
      .music-courses__infants h3 {
        margin-top: 5rem; }
      .music-courses__infants div {
        font-size: 1.8rem; }
    .music-courses__all {
      display: grid;
      grid-template: 'header header' 'header header' 'list list' 'list list'; }
      .music-courses__all h3 {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center; }
      .music-courses__all ul {
        columns: 2;
        grid-area: list; } }

@media only screen and (max-width: 1024px) {
  .music-courses {
    grid-template-rows: 5rem 40rem auto; }
    .music-courses__blurb::before {
      top: 90%; }
    .music-courses__buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .music-courses__buttons .btn {
        width: 55%;
        height: 25%; }
    .music-courses__instruments ul, .music-courses__all ul {
      columns: 2;
      column-gap: 3rem; } }

@media only screen and (max-width: 768px) {
  .music-courses__buttons .btn {
    padding: 0 7rem;
    height: 25%; }
  .music-courses__instruments ul {
    column-gap: 1.5rem; }
  .music-courses__all h3 {
    width: 60%;
    margin: 2rem auto; }
  .music-courses__all ul {
    columns: 1; } }

@media only screen and (max-width: 568px) {
  .music-courses__blurb {
    padding: 0; }
    .music-courses__blurb::before {
      transform: scale(3); }
    .music-courses__blurb::after {
      transform: rotate(180deg) scale(3); }
    .music-courses__blurb::before {
      top: 95%; }
  .music-courses__all h3 {
    margin: 4rem auto; } }

@media only screen and (max-width: 479px) {
  .music-courses__blurb::before {
    transform: scale(2); }
  .music-courses__blurb::after {
    transform: rotate(180deg) scale(2); }
  .music-courses__buttons .btn {
    padding: 0 2rem; }
  .music-courses__all h3 {
    margin: 2rem auto; }
  .music-courses__infants {
    padding: 0 2rem 5rem 2rem; } }

@media only screen and (max-width: 1920px) {
  .prices h3 {
    margin: 5rem 0; }
  .prices .container {
    width: 70%;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .prices .container__item-text {
      width: 40%; }
    .prices .container__item-price {
      font-weight: bolder; }
  .prices .tsandcs {
    width: 80%;
    margin: 5rem auto; } }

@media only screen and (max-width: 768px) {
  .prices h3 {
    padding-left: 10rem;
    padding-right: 10rem; } }

@media only screen and (max-width: 479px) {
  .prices h3 {
    padding-left: 5rem;
    padding-right: 5rem; } }
