
 // 568px
@include breakpoint(mob-landscape){

    .homepage { 
        &__container {
            height: 90%;  

            .timetable {
                &__heading {
                    width: 60%;
                }
                &__events {
                    width: 50%;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 1fr);
                    grid-gap: 2rem;
                }
            }
        }
    }
    
 
} 
// 479px
@include breakpoint(mob-portrait){

    .homepage {
        &__container {

            .blurb {
                padding: 0;
            }

            .composition {
                &__image{
                    width: auto;
                    max-height: 40%;
                }
            }

            .timetable {
                &__events {
                    width: 70%;
                }
            }

        }
    }

}
