
    @-moz-document url-prefix() {

        @include breakpoint(tab-landscape){
        .homepage {
            &__container {
                .blurb {
                    &__text {
                        padding: 0 8rem;
                    }
                }
            }
        }
    }
    }


@include breakpoint(tab-landscape){

    .homepage{
        &__container {

            .timetable {
                margin-top: 7rem;
                flex-direction: column;
                justify-content: space-evenly;

                &__heading{
                    margin-bottom: 5rem;
                }

                &__events {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                }
            }

        }
    }
}

// 768px
@include breakpoint(tab-portrait){

    .homepage {
        &__container {

            .composition {

                &__image {
                    width: auto;
                    max-height: 50%;
                }
            }

            .timetable {
                margin-top: 5rem;

                &__events {
                    width: 80%;
                }
            }

        }
    } 
}