
// 1920px
@include breakpoint(max-page){
    .homepage {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__container {
            height: 100%;
            display: grid;
            grid-template-rows: 20rem 30rem auto;
            grid-template-columns: 100%;
    
            .blurb {
                grid-column: 1/-1;
                grid-row: 1/2; 
                height: 100%;
                width: 50%;
                padding: 5rem;
                margin: 0 auto;
                margin-top: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .composition {
                grid-column: 1/-1;
                margin-top: 5rem;
                grid-row: 2/3;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                          
                &__image {
                    border-radius: 50%; 
                    box-shadow: 0 1rem 2rem rgba(black, .5);
                    width: auto;
                    max-height: 70%;
                    background-size: contain;
                    

                    &--1 {
                        order: 2;
                        z-index: 1;
                        filter: brightness(.95);
                    }
            
                    &--2 {
                        order: 1; 
                        transform: translateX(20%);
                        filter: brightness(1.05);
                    }
            
                    &--3 {
                        order: 3;
                        transform: translateX(-20%);
                        filter: brightness(1.1);
                    }
                } 
            }  

            .timetable {
                margin: 15rem 0;
                grid-column: 1/ -1;
                grid-row: 3/4;
                display: flex;
                align-items: center;

                &__heading {
                    width: 15%;
                }

                &__events {
                    display: flex;
                    width: 85%;
                    justify-content: space-evenly;
                }

                &__event {
                    width: 15%;
                    min-height: 100%;
                    padding: .5rem;
                    line-height: 3rem;
                    border-radius: 1rem;
                    box-shadow: 0 .5rem .5rem rgba($colour-tertiary, .1);
                    color: $colour-tertiary;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    .header > a {
                        text-decoration: none;
                        font-weight: bolder;
                        @include goldenText;

                        &:link,
                        &:visited {
                            @include goldenText;
                            text-decoration: none;
                        }

                        &:hover {
                            cursor: pointer;
                            color: $colour-secondary;  
                        }
                    }
                }
            }
        }
    }
}

// 1366px
@include breakpoint(standard-page){
    .homepage {
        &__container {


        .composition {

            &__image {
                width: auto;
                max-height: 60%;
            }


        }

        .timetable {           
            &__heading {
                width: 20%;
                margin: 0 auto;
            }
            &__events {
                width: 60%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            &__event {
                width: 80%;
                margin: 0 auto;

            }
        }

        }

    }

}


// 1200px
@include breakpoint(standard-content){
    .homepage {

        &__container {

            .timetable {

                &__event {
                    width: 90%;
                }
            }
        }
    }
}