<template>
  <div id="app">
    <appHeader/>
      <router-view class="app__content"></router-view>
      <appFooter/>
  </div>
</template> 

<script>
import Home from './components/Home.vue'
import Header from './components/layout/Header.vue'
import Footer from './components/layout/Footer.vue'

export default {
  name: 'app',
  components: {
    appHome: Home,
    appHeader: Header,
    appFooter: Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
