// 568px
@include breakpoint(mob-landscape){
.aboutus {
    &__himandher {

        &__cyril,
        &__casey {
            height:50.5rem;
            width: 50.5rem;

        }

        &__story {
            height: 50rem;
            width: 50rem;
            padding: 4rem;
        }

    }

    &__history {

        &__list {
            width: 80%;
        }
    }
}
}


// 479px
@include breakpoint(mob-portrait){
.aboutus {

    &__himandher {
        &__cyril,
        &__casey {
            width: 29rem;
            height:77.5rem;
            margin: 0 auto;

        }

        &__casey {
            margin-bottom: 5rem;
        }

        &__story {
            width: 28.5rem;
            height: 77rem;
            padding: 4rem;

            .story__figure {
                shape-outside: none;
                transform: none;
                float: none;
                margin: 0 auto;

                img {
                    margin: 0 auto; 
                }
            }
        }
    }

    &__history {

        &__backgroundimage_1 {
        img {
            max-width: 25rem;
        }
        }
        &__backgroundimage_2 {
            img {
               max-width: 25rem;
            }
            

        }
    }
}
}
