// 1920px

@include breakpoint(max-page){
 
    .aboutus {

        h3 {
            margin-bottom: 5rem;
        }

        margin: 5rem auto 5rem auto; 

       &__section {
          padding: 5rem 0;
       }

        &__description { 
            width: 60%;
            margin: 0 auto;
            padding-top: 0;

            &-blurb {
                 font-size: 1.6rem;

                .section-1 {
                    margin-bottom: 2rem; 
                }
            }
        } 

        &__himandher {

            &__casey,
            &__cyril {
                @include goldBackground;
                width: 60.5vw;
                height: 60.5vh;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                margin: 0 auto;
                padding: 0;
                position: relative;
            }

            &__casey {
                margin-bottom: 5rem;
            }



            &__story {
                background-color: white;
                width: 60vw;
                height: 60vh;
                margin: 0 auto 5rem auto; 
                padding: 6rem;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                position: absolute;
                top: .25vh;
                left: .25vw;
                


                &:hover {

                    .story__figure__caption {
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                }

                
                .story__figure {
                    shape-outside: circle(50% at 50% 50%);
                    transform: translateX(-3rem);
                    position: relative;
                    overflow: hidden;
                    width: 15rem;
                    height: 15rem;
                    float: left;
                    border-radius: 50%;

                    &__img {
                        height: 100%;
                        width: auto; 
                        float: left;  
                        filter: brightness(110%);                     
                    }

                    &__caption {     
                        opacity: 0;
                        position: absolute;
                        font-weight: bolder;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, 20%);
                        transition: all .2s;
                        
                        text-transform: uppercase;
                        color: white;
                    }

                }

                .story__text {
 
                    p { 
                        font-size: 1.6rem;
                        margin: 2rem auto;
                    }

                }

                
            }

 
        }

        &__history {
            width: 55%; 
            margin: 0 auto;

            &__container {
                display: grid;
                grid-gap: 2rem;
                grid-template-columns: repeat(3, 2fr) repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);


            }

            &__list { 
                z-index: 3;
                grid-column: 1 / span 3;
                grid-row: 1 / -1;
                width: 50%;
                float: left;
                height: auto;
                text-align: left;
                list-style-position: outside;
                font-size: 1.6rem;

            &__item {
                 margin-bottom: 2rem;
                width: 100%;
                list-style: none;

                &::before {
                    content: '';
                    display: inline-block;
                    mask: url(../assets/icons/beamed-note.svg);
                    width: 2rem;
                    height: 2rem;
                    margin-right: 2rem;
                    @include goldBackground;
                }

                &.marriage {

                    &::before {
                        mask: url(../assets/icons/heart.svg);

                    }
                }
            }

            &__item:last-child {
                margin-bottom: 0;
            }   
            }

            &__backgroundimage_1 {
   
                grid-column: 4 / -1;
                grid-row: 1 / span 3;

                img {
                    min-width: 100%;
                    height: auto;
                    background-size: contain;
                    box-shadow: 0 .5rem 1rem rgba(black, .5);


                }
            }

            &__backgroundimage_2 {
                z-index: 2;
                    grid-column: 3 / 5;
                    grid-row: 2/ -1;

                img {  
                    min-width: 100%;
                    height: auto;
                    background-size: contain;
                    box-shadow: 0 .5rem 1rem rgba(black, .5);


                }

            }
        }


    }


}

// 1366px
@include breakpoint(standard-page){
    .aboutus {

        &__himandher {

            &__casey,
            &__cyril {
                height: 55.5rem;
                width: 80.5rem;
            }

            &__story {
                height: 55rem;
                width: 80rem;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            }

        }
    }
}


// 1200px
@include breakpoint(standard-content){
    .aboutus {
        &__himandher {
            &__story {
                .story__text {
                    p { 
                        margin: 1rem auto;
                    }
                }
            }
        }
    }
}
