// 1024px
@include breakpoint(tab-landscape){
    .aboutus {
        &__himandher {

            &__cyril,
            &__casey {
                height: 55.5rem;
                width: 57.5rem;
            }

            &__story {
                height: 55rem;
                width: 57rem;
                padding: 5rem;
            }

        }
    }

}


// 768px
@include breakpoint(tab-portrait){ 
.aboutus {

    &__himandher {

        &__cyril,
        &__casey {
            height:40.5rem;
            clip-path: none;

        }


        &__story {
            padding: 5rem;
            height: 40rem;
            padding: 4rem;
            clip-path:none; 
        }
    }

    &__history {

        width: 100%;
        &__container {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto repeat(3, 10rem);
        }

        &__list {
            grid-column: 1 / -1;
            grid-row: 1 / span 1;
            columns: 2;
            width: 50%;
            margin: 0 auto;
        }

        &__backgroundimage_1 {
            grid-column: 2/ -1;
            grid-row: 2 / span 2;

            img {
                min-width: 50%;
                height: auto;
            }

        }

        &__backgroundimage_2 {
            grid-column: 2/3;
            grid-row: 3 / span 2;

            img {
                min-width: 70%;
                height: auto;
            }
        }

    }
}
}